.formdiv {
    position: absolute;
    display: flex;
    flex-direction: column;
}
.input1 {
    box-sizing: border-box;
    position: absolute;
    width: 455px;
    height: 54px;
    left: 235px;
    top: 390px;
    background: #FFFFFF;
    border: 1px solid #525557;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #454545;
}
.input2 {
    box-sizing: border-box;
    position: absolute;
    width: 455px;
    height: 54px;
    left: 235px;
    top: 480px;
    background: #FFFFFF;
    border: 1px solid #525557;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #454545;
}
.input3 {
    box-sizing: border-box;
    position: absolute;
    width: 455px;
    height: 54px;
    left: 235px;
    top: 578px;
    background: #FFFFFF;
    border: 1px solid #525557;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #454545;
}
.input4 {
    box-sizing: border-box;
    position: absolute;
    width: 455px;
    height: 54px;
    left: 235px;
    top: 675px;
    background: #FFFFFF;
    border: 1px solid #525557;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #454545;
}
.span1 {
    position: absolute;
    width: 400px;
    left: 250px;
    top: 450px;
    color: red;
}
.span2 {
    position: absolute;
    width: 400px;
    left: 250px;
    top: 540px;
    color: red;
}
.span3 {
    position: absolute;
    width: 400px;
    left: 250px;
    top: 640px;
    color: red;
}
.span4 {
    position: absolute;
    width: 400px;
    left: 250px;
    top: 740px;
    color: red;
}
